.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #dc3ca4;
    border-radius: 50%;
    font-size: 20px;
    color: #dc3ca4;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;

}

.home-sci a:hover {
    color: #081b29;


}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #dc3ca4;
    z-index: -1;
    transition: .5s;

}

.home-sci a:hover::before {
    width: 100%;

}

.home-content .profile{
    height: 300px;
    width: 300px;
}

img {
    position: absolute;
    top: 70px;
    right: 60px;
}


canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border:1px solid #d3d3d3;
}











/* KEYFRAMES ANIMATION */
@keyframes showRight {
    100% {
        width: 0;

    }

}

@media only screen and (max-width:500px) {
    /* For mobile phones: */
    .menu, .main, .right {
        width: 100%;
    }
}

